header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 1.5em;
  margin: 30px 50px 15px 40px;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

p {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0px;
}

li {
  margin-bottom: 10px;
}

li, fas {
  color: #7e7e7e;
}

ul {
  list-style-type: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50px;
  border: none;
  width: 60%;
  color: #ffffff;
  background: linear-gradient(to top, #9356dc, #ff79da);
  margin: 10px 70px 50px;
  font-size: 1rem;
  box-shadow: 0px 3px 10px #e5e5e5;
}

.logo {
  display: flex;
  padding: 20px 40px;
  height: 30px;
}

.arrow {
  font-size: 1.1rem;
  color: #0d0d0d;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 20px;
}

.footer_title {
  display: flex;
  height: 20px;
  color: #ffffff;
  font-family: shrikhand, sans-serif;
  font-weight: lighter;
  padding-bottom: 0px;
  margin-top: 0px;
}

footer ul {
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

footer .fas {
  padding-right: 10px;
  font-size: small;
}

.rst-area {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.rst-title {
  margin: 20px;
}

.rst-container {
  display: flex;
  flex-direction: column;
  margin: 0 20px 60px 20px;
  gap: 20px;
}

.rst-card {
  position: relative;
  border-radius: 20px;
  box-shadow: 0px 3px 10px #e5e5e5;
  background-color: #ffffff;
}

.pic {
  display: flex;
  width: 100%;
}

.pic img {
  display: flex;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 160px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

h2 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.new {
  background-color: #99e2d0;
  color: #0a8d6d;
  position: absolute;
  top: 0.7em;
  right: 1em;
  padding: 3px 9px;
  font-size: 0.9em;
  font-weight: 500;
  border-radius: 2px;
}

.far {
  position: absolute;
  right: 1em;
  bottom: 1.4em;
  font-size: 1.5em;
  color: #777777;
}

.search {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
}

.location {
  display: flex;
  justify-content: center;
  height: 15px;
  padding: 20px;
  background-color: #eaeaea;
  box-Shadow: inset 0px 3px 10px #d4d4d4;
}

.location-text {
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 20px;
}

.function-bloc {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.title {
  margin-left: 0px;
  padding-top: 20px;
}

.guide {
  list-style-type: none;
  padding-left: 15px;
}

.guide__step {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  border: 2px #bfbfbf;
  background-color: #f6f6f6;
  gap: 20px;
  margin: 0px 20px 20px 0px;
  box-shadow: 0px 3px 10px #e5e5e5;
}

.guide__step--number {
  display: flex;
  position: relative;
  right: 15px;
  background-color: #9356dc;
  color: #ffffff;
  border-radius: 80%;
  padding: 3px 9px;
}

.guide__step-colored {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  border: 2px #bfbfbf;
  font-size: 1rem;
  background-color: #f5edff;
  gap: 20px;
  margin: 0px 20px 20px 0px;
  box-shadow: 3px 3px 10px #bfbfbf;
}

.guide__step-colored, fas {
  color: #9356dc;
}

.function-text {
  font-size: 1em;
  font-weight: 600;
  color: black;
  padding-top: 20px;
}

.Menu_pic img {
  display: flex;
  object-fit: cover;
  width: 100%;
}

.Menu_container {
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -95px;
  padding-left: 10px;
  padding-right: 10px;
}

.Menu_title {
  font-family: "shrikhand", sans-serif;
  font-weight: 300;
  padding-top: 30px;
  margin-left: 0px;
  font-size: 1.6em;
}

.far {
  position: absolute;
  right: 2em;
  top: 1.5em;
  font-size: 1.5em;
  color: #777;
}

h2 {
  padding-bottom: 15px;
  font-weight: 200;
}

.dish_title:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  padding: 2px;
}

.dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  border-radius: 20px;
  border: 2px #bfbfbf;
  background-color: #ffffff;
  margin: 0px 20px 20px 0px;
  box-shadow: 0px 3px 10px #e5e5e5;
}

.dish_item {
  display: flex;
  flex-direction: column;
}

h3 {
  display: flex;
  font-size: 1.1em;
  margin: 10px;
}

p {
  margin-left: 10px;
  font-size: 0.9em;
}

.value {
  display: flex;
  align-items: flex-end;
  font-size: 1em;
  font-weight: bold;
}

.price {
  margin: 8px 20px;
  font-weight: bold;
}

.dessert {
  padding-bottom: 20px;
}

/*# sourceMappingURL=index.css.map */
