header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  display: block;
  padding: 10px 50px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (min-width: 992px) {
  h2 {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1268px) {
  h2 {
    width: 300px;
  }
}

h3 {
  font-size: 1em;
  font-weight: 400;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

h3:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  padding: 2px;
}

h4 {
  font-size: 1.1em;
}

li {
  margin-bottom: 10px;
}

li, fas {
  color: #7e7e7e;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
@media screen and (min-width: 992px) {
  ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 1268px) {
  ul {
    gap: 20px;
  }
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50px;
  border: none;
  width: 60%;
  color: #ffffff;
  background: linear-gradient(to top, #9356dc, #ff79da);
  margin: 20px 70px;
  font-size: 1em;
  box-shadow: 3px 3px 10px #bfbfbf;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 35%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    width: 25%;
  }
}
@media screen and (min-width: 1268px) {
  .btn {
    width: 20%;
    font-size: 1.3em;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 70%;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 50%;
  }
}

.arrow {
  font-size: 1.1em;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 20px;
}
footer .footer_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-family: shrikhand, sans-serif;
  font-weight: 500;
  padding-bottom: 0px;
  margin-top: 0px;
}
footer footer, footer ul {
  padding-left: 0px;
}
@media screen and (min-width: 992px) {
  footer footer, footer ul {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) and (min-width: 1268px) {
  footer footer, footer ul {
    gap: 0px;
  }
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

footer .fas {
  padding-right: 10px;
  font-size: 0.9em;
}

.Menu__pic img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.Menu__container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  padding: 20px 20px;
}
@media screen and (min-width: 992px) {
  .Menu__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }
}
.Menu__container .bloc_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .Menu__container .bloc_title {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .bloc_title {
    width: 100%;
    padding: 0px 40px 0px 40px;
  }
}
.Menu__container .bloc_title .title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.7em;
}
.Menu__container .bloc_title .heart {
  font-size: 1.5em;
  color: #777;
  padding: 0px 20px;
}
.Menu__container .dish__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0px;
}
@media screen and (min-width: 768px) {
  .Menu__container .dish__container {
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .dish__container {
    width: 30%;
    padding-left: 0px;
  }
}
.Menu__container .dish__container h3:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  padding: 2px;
}
.Menu__container .dish__container .dish {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  border-radius: 20px;
  border: 2px #bfbfbf;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #bfbfbf;
}
.Menu__container .dish__container .dish .dish__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.Menu__container .dish__container .dish .dish__item .dish__plus {
  font-size: 0.9em;
}
@media screen and (min-width: 992px) {
  .Menu__container .dish__container .dish .dish__item .dish__plus {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1268px) {
  .Menu__container .dish__container .dish .dish__item .dish__plus {
    width: 300px;
  }
}
.Menu__container .dish__container .dish .value {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1em;
  font-weight: bold;
}
.Menu__container .dish__container .dish .value .price {
  margin: 8px 20px;
  font-weight: bold;
  font-size: 1em;
}

/*# sourceMappingURL=restaurant.css.map */
