.span {
  opacity: 1;
}

.letter01 {
  animation: letters 3s ease 0s both;
}

.letter02 {
  animation: letters 3s ease 0.5s both;
}

.letter03 {
  animation: letters 3s ease 1s both;
}

.letter04 {
  animation: letters 3s ease 1.5s both;
}

.letter05 {
  animation: letters 3s ease 2s both;
}

.letter06 {
  animation: letters 3s ease 2.5s both;
}

.letter07 {
  animation: letters 3s ease 3s both;
}

.letter08 {
  animation: letters 3s ease 3.5s both;
}

@keyframes letters {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes heart-full {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(70px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes menu-display {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "roboto", sans-serif;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 1.5em;
}

h3 {
  font-weight: 400;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

h3:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  padding: 2px;
}

h4 {
  font-size: 1.1em;
}

li {
  margin-bottom: 10px;
}

li, fas {
  color: #7e7e7e;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
@media screen and (min-width: 992px) {
  ul {
    flex-direction: row;
  }
}
@media screen and (min-width: 1268px) {
  ul {
    gap: 20px;
  }
}

p {
  display: block;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 50px;
  border: none;
  width: 60%;
  color: #ffffff;
  background: linear-gradient(to top, #9356dc, #ff79da);
  margin: 20px 70px;
  text-decoration: none;
  box-shadow: 3px 3px 10px #bfbfbf;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 35%;
    margin: auto;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    width: 25%;
  }
}
@media screen and (min-width: 1268px) {
  .btn {
    width: 20%;
    font-size: 1.3em;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  width: 70%;
  margin-left: 30px;
}
@media screen and (min-width: 768px) {
  .logo {
    padding: 15px 0px;
  }
}

.arrow {
  font-size: 1.1em;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px 20px;
}
footer .footer_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ffffff;
  font-family: shrikhand, sans-serif;
  font-weight: 500;
  padding-bottom: 0px;
  margin-top: 0px;
}
footer footer, footer ul {
  padding-left: 0px;
}
@media screen and (min-width: 992px) {
  footer footer, footer ul {
    flex-direction: column;
  }
}
@media screen and (min-width: 992px) and (min-width: 1268px) {
  footer footer, footer ul {
    gap: 0px;
  }
}
footer a {
  text-decoration: none;
  color: #ffffff;
}

footer .fas {
  padding-right: 10px;
  font-size: 0.9em;
}

.Menu__pic img {
  display: flex;
  flex-direction: column;
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.Menu__container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 50px 50px 0 0;
  margin-top: -50px;
  padding: 20px 20px;
}
@media screen and (min-width: 992px) {
  .Menu__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.Menu__container .bloc_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .Menu__container .bloc_title {
    padding: 10px 20px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .bloc_title {
    width: 100%;
    padding: 0px 40px 0px 40px;
  }
}
.Menu__container .bloc_title .title {
  font-family: "shrikhand", sans-serif;
  font-size: 1.7em;
}
.Menu__container .bloc_title .rest__heart {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Menu__container .bloc_title .rest__heart .fa-heart {
  position: absolute;
  bottom: unset;
  right: 30px;
  font-size: 1.5em;
}
.Menu__container .bloc_title .rest__heart .far {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}
.Menu__container .bloc_title .rest__heart .far:hover {
  opacity: 0;
}
.Menu__container .bloc_title .rest__heart .far:hover + .fas {
  opacity: 1;
  animation: heart-full 0.4s linear both;
}
.Menu__container .bloc_title .rest__heart .fas {
  background: linear-gradient(50deg, #ff79da 0%, #9356dc 100%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  opacity: 0;
  z-index: 1;
  transform-origin: 50% bottom;
  transform: scale(1);
  animation: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.Menu__container .starter__container, .Menu__container .dessert__container, .Menu__container .main__container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 0px;
}
.Menu__container .starter__container h3:before, .Menu__container .dessert__container h3:before, .Menu__container .main__container h3:before {
  content: "";
  position: absolute;
  width: 41px;
  height: 20px;
  border-bottom: 3px solid #99e2d0;
  padding: 2px;
}
@media screen and (min-width: 768px) {
  .Menu__container .starter__container, .Menu__container .dessert__container, .Menu__container .main__container {
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .starter__container, .Menu__container .dessert__container, .Menu__container .main__container {
    width: 100%;
    padding-left: 0px;
  }
}
@media screen and (min-width: 1268px) {
  .Menu__container .starter__container, .Menu__container .dessert__container, .Menu__container .main__container {
    width: 30%;
  }
}
.Menu__container .starter__container .dish-1, .Menu__container .dessert__container .dish-1, .Menu__container .main__container .dish-1, .Menu__container .starter__container .dish-2, .Menu__container .dessert__container .dish-2, .Menu__container .main__container .dish-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  border: 2px #bfbfbf;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #bfbfbf;
  overflow: hidden;
  animation: menu-display 0.4s cubic-bezier(0, 0.01, 0, 0.01) both;
}
.Menu__container .starter__container .dish-1:hover > .value, .Menu__container .dessert__container .dish-1:hover > .value, .Menu__container .main__container .dish-1:hover > .value, .Menu__container .starter__container .dish-2:hover > .value, .Menu__container .dessert__container .dish-2:hover > .value, .Menu__container .main__container .dish-2:hover > .value {
  animation: slide-left 0.45s ease-in-out forwards, rotate;
}
.Menu__container .starter__container .dish-1:hover .checkicon, .Menu__container .dessert__container .dish-1:hover .checkicon, .Menu__container .main__container .dish-1:hover .checkicon, .Menu__container .starter__container .dish-2:hover .checkicon, .Menu__container .dessert__container .dish-2:hover .checkicon, .Menu__container .main__container .dish-2:hover .checkicon {
  transform: rotate(1turn);
  transition: transform 0.8s ease-in-out;
}
.Menu__container .starter__container .dish-1:hover .dish__plus, .Menu__container .dessert__container .dish-1:hover .dish__plus, .Menu__container .main__container .dish-1:hover .dish__plus, .Menu__container .starter__container .dish-2:hover .dish__plus, .Menu__container .dessert__container .dish-2:hover .dish__plus, .Menu__container .main__container .dish-2:hover .dish__plus {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Menu__container .starter__container .dish-1 .dish__item, .Menu__container .dessert__container .dish-1 .dish__item, .Menu__container .main__container .dish-1 .dish__item, .Menu__container .starter__container .dish-2 .dish__item, .Menu__container .dessert__container .dish-2 .dish__item, .Menu__container .main__container .dish-2 .dish__item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 60%;
  padding: 10px;
}
.Menu__container .starter__container .dish-1 .dish__item h2, .Menu__container .dessert__container .dish-1 .dish__item h2, .Menu__container .main__container .dish-1 .dish__item h2, .Menu__container .starter__container .dish-2 .dish__item h2, .Menu__container .dessert__container .dish-2 .dish__item h2, .Menu__container .main__container .dish-2 .dish__item h2 {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}
.Menu__container .starter__container .dish-1 .dish__item .dish__plus, .Menu__container .dessert__container .dish-1 .dish__item .dish__plus, .Menu__container .main__container .dish-1 .dish__item .dish__plus, .Menu__container .starter__container .dish-2 .dish__item .dish__plus, .Menu__container .dessert__container .dish-2 .dish__item .dish__plus, .Menu__container .main__container .dish-2 .dish__item .dish__plus {
  font-size: 0.9em;
}
.Menu__container .starter__container .dish-1 .value, .Menu__container .dessert__container .dish-1 .value, .Menu__container .main__container .dish-1 .value, .Menu__container .starter__container .dish-2 .value, .Menu__container .dessert__container .dish-2 .value, .Menu__container .main__container .dish-2 .value {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1em;
  font-weight: bold;
  transform: translateX(70px);
}
.Menu__container .starter__container .dish-1 .value .price, .Menu__container .dessert__container .dish-1 .value .price, .Menu__container .main__container .dish-1 .value .price, .Menu__container .starter__container .dish-2 .value .price, .Menu__container .dessert__container .dish-2 .value .price, .Menu__container .main__container .dish-2 .value .price {
  margin: 10px;
  font-weight: bold;
  font-size: 1em;
  left: unset;
  position: relative;
}
@media screen and (min-width: 768px) {
  .Menu__container .starter__container .dish-1 .value .price, .Menu__container .dessert__container .dish-1 .value .price, .Menu__container .main__container .dish-1 .value .price, .Menu__container .starter__container .dish-2 .value .price, .Menu__container .dessert__container .dish-2 .value .price, .Menu__container .main__container .dish-2 .value .price {
    left: -10px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .starter__container .dish-1 .value .price, .Menu__container .dessert__container .dish-1 .value .price, .Menu__container .main__container .dish-1 .value .price, .Menu__container .starter__container .dish-2 .value .price, .Menu__container .dessert__container .dish-2 .value .price, .Menu__container .main__container .dish-2 .value .price {
    top: -5px;
    left: -20px;
  }
}
@media screen and (min-width: 1268px) {
  .Menu__container .starter__container .dish-1 .value .price, .Menu__container .dessert__container .dish-1 .value .price, .Menu__container .main__container .dish-1 .value .price, .Menu__container .starter__container .dish-2 .value .price, .Menu__container .dessert__container .dish-2 .value .price, .Menu__container .main__container .dish-2 .value .price {
    left: -10px;
  }
}
.Menu__container .starter__container .dish-1 .value .checkbox, .Menu__container .dessert__container .dish-1 .value .checkbox, .Menu__container .main__container .dish-1 .value .checkbox, .Menu__container .starter__container .dish-2 .value .checkbox, .Menu__container .dessert__container .dish-2 .value .checkbox, .Menu__container .main__container .dish-2 .value .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Menu__container .starter__container .dish-1 .value .checkbox .checkicon, .Menu__container .dessert__container .dish-1 .value .checkbox .checkicon, .Menu__container .main__container .dish-1 .value .checkbox .checkicon, .Menu__container .starter__container .dish-2 .value .checkbox .checkicon, .Menu__container .dessert__container .dish-2 .value .checkbox .checkicon, .Menu__container .main__container .dish-2 .value .checkbox .checkicon {
  color: #f6f6f6;
  font-size: 1.5em;
}
.Menu__container .starter__container .dish-2, .Menu__container .dessert__container .dish-2, .Menu__container .main__container .dish-2 {
  animation-delay: 1s;
}
.Menu__container .starter__container .dish-3, .Menu__container .dessert__container .dish-3, .Menu__container .main__container .dish-3, .Menu__container .starter__container .dish-4, .Menu__container .dessert__container .dish-4, .Menu__container .main__container .dish-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  border: 2px #bfbfbf;
  background-color: #ffffff;
  box-shadow: 3px 3px 10px #bfbfbf;
  overflow: hidden;
  animation: menu-display 0.4s cubic-bezier(0, 0.01, 0, 0.01) both;
  animation-delay: 2s;
}
.Menu__container .starter__container .dish-3:hover > .value, .Menu__container .dessert__container .dish-3:hover > .value, .Menu__container .main__container .dish-3:hover > .value, .Menu__container .starter__container .dish-4:hover > .value, .Menu__container .dessert__container .dish-4:hover > .value, .Menu__container .main__container .dish-4:hover > .value {
  animation: slide-left 0.45s ease-in-out forwards, rotate;
}
.Menu__container .starter__container .dish-3:hover .checkicon, .Menu__container .dessert__container .dish-3:hover .checkicon, .Menu__container .main__container .dish-3:hover .checkicon, .Menu__container .starter__container .dish-4:hover .checkicon, .Menu__container .dessert__container .dish-4:hover .checkicon, .Menu__container .main__container .dish-4:hover .checkicon {
  transform: rotate(1turn);
  transition: transform 0.8s ease-in-out;
}
.Menu__container .starter__container .dish-3:hover .dish__plus, .Menu__container .dessert__container .dish-3:hover .dish__plus, .Menu__container .main__container .dish-3:hover .dish__plus, .Menu__container .starter__container .dish-4:hover .dish__plus, .Menu__container .dessert__container .dish-4:hover .dish__plus, .Menu__container .main__container .dish-4:hover .dish__plus {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.Menu__container .starter__container .dish-3 .dish__item, .Menu__container .dessert__container .dish-3 .dish__item, .Menu__container .main__container .dish-3 .dish__item, .Menu__container .starter__container .dish-4 .dish__item, .Menu__container .dessert__container .dish-4 .dish__item, .Menu__container .main__container .dish-4 .dish__item {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  width: 60%;
  padding: 10px;
}
.Menu__container .starter__container .dish-3 .dish__item h2, .Menu__container .dessert__container .dish-3 .dish__item h2, .Menu__container .main__container .dish-3 .dish__item h2, .Menu__container .starter__container .dish-4 .dish__item h2, .Menu__container .dessert__container .dish-4 .dish__item h2, .Menu__container .main__container .dish-4 .dish__item h2 {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}
.Menu__container .starter__container .dish-3 .dish__item .dish__plus, .Menu__container .dessert__container .dish-3 .dish__item .dish__plus, .Menu__container .main__container .dish-3 .dish__item .dish__plus, .Menu__container .starter__container .dish-4 .dish__item .dish__plus, .Menu__container .dessert__container .dish-4 .dish__item .dish__plus, .Menu__container .main__container .dish-4 .dish__item .dish__plus {
  font-size: 0.9em;
}
.Menu__container .starter__container .dish-3 .value, .Menu__container .dessert__container .dish-3 .value, .Menu__container .main__container .dish-3 .value, .Menu__container .starter__container .dish-4 .value, .Menu__container .dessert__container .dish-4 .value, .Menu__container .main__container .dish-4 .value {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1em;
  font-weight: bold;
  transform: translateX(70px);
}
.Menu__container .starter__container .dish-3 .value .price, .Menu__container .dessert__container .dish-3 .value .price, .Menu__container .main__container .dish-3 .value .price, .Menu__container .starter__container .dish-4 .value .price, .Menu__container .dessert__container .dish-4 .value .price, .Menu__container .main__container .dish-4 .value .price {
  margin: 10px;
  font-weight: bold;
  font-size: 1em;
  left: -5px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .Menu__container .starter__container .dish-3 .value .price, .Menu__container .dessert__container .dish-3 .value .price, .Menu__container .main__container .dish-3 .value .price, .Menu__container .starter__container .dish-4 .value .price, .Menu__container .dessert__container .dish-4 .value .price, .Menu__container .main__container .dish-4 .value .price {
    left: -10px;
  }
}
@media screen and (min-width: 992px) {
  .Menu__container .starter__container .dish-3 .value .price, .Menu__container .dessert__container .dish-3 .value .price, .Menu__container .main__container .dish-3 .value .price, .Menu__container .starter__container .dish-4 .value .price, .Menu__container .dessert__container .dish-4 .value .price, .Menu__container .main__container .dish-4 .value .price {
    top: -5px;
    left: -20px;
  }
}
@media screen and (min-width: 1268px) {
  .Menu__container .starter__container .dish-3 .value .price, .Menu__container .dessert__container .dish-3 .value .price, .Menu__container .main__container .dish-3 .value .price, .Menu__container .starter__container .dish-4 .value .price, .Menu__container .dessert__container .dish-4 .value .price, .Menu__container .main__container .dish-4 .value .price {
    left: -10px;
  }
}
.Menu__container .starter__container .dish-3 .value .checkbox, .Menu__container .dessert__container .dish-3 .value .checkbox, .Menu__container .main__container .dish-3 .value .checkbox, .Menu__container .starter__container .dish-4 .value .checkbox, .Menu__container .dessert__container .dish-4 .value .checkbox, .Menu__container .main__container .dish-4 .value .checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.Menu__container .starter__container .dish-3 .value .checkbox .checkicon, .Menu__container .dessert__container .dish-3 .value .checkbox .checkicon, .Menu__container .main__container .dish-3 .value .checkbox .checkicon, .Menu__container .starter__container .dish-4 .value .checkbox .checkicon, .Menu__container .dessert__container .dish-4 .value .checkbox .checkicon, .Menu__container .main__container .dish-4 .value .checkbox .checkicon {
  color: #f6f6f6;
  font-size: 1.5em;
}
.Menu__container .starter__container .dish-4, .Menu__container .dessert__container .dish-4, .Menu__container .main__container .dish-4 {
  animation-delay: 3s;
}

/*# sourceMappingURL=restaurant.css.map */
