.Menu__pic img{
    @include flexColumn;
    object-fit: cover;
    width:100%;
    height: 250px;
}

.Menu__container{
    @include flexColumn;
    background-color: $backgroundcolor-primary;
    border-radius: 50px 50px 0 0;
    margin-top: -50px;
    padding:20px 20px;
    @include Medium-screen{
       @include flexRow;
       flex-wrap: wrap;
       justify-content: space-between;
    } 
         
        .bloc_title{
          @include flexRowCenter;
          justify-content: space-between;
          @include tablet{
            padding:10px 20px;
          }
          @include Medium-screen{
            width:100%;
            padding: 0px 40px 0px 40px;
            }

            .title{
            font-family:$font-shrikhand;
            font-size: 1.7em;
            }
            
            .rest__heart{
              @include flexRowCenter;
              @include heart(unset);        
            }                                           
        }        
                      
        .starter__container{
            
            @include Dishcontainer;
            @include tablet{
                padding: 20px;          
            }
            @include Medium-screen{
                width:100%;
                padding-left: 0px;
            }
            @include Large-screen{
                width:30%;
            }

            .dish-1{
                @include Dishcard;
                @include dish-hover; 

                .dish__item{
                    @include Dish;
                                                         
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                  
                    .dish__plus{
                      font-size:0.9em;                                                                                                            
                    }
                }
                                                      
                .value{
                 @include value;

                    .starter__price{
                      @include price(-5px);
                      @include Medium-screen{
                          top: -5px;
                          left:-20px;
                      }
                      @include Large-screen{
                          left: -10px;
                      }                    
                    }
                      
                    .checkbox{
                      @include checkbox;
                        
                      .checkicon{
                           @include checkIcon;
                      } 
                    }         
                }    
            }                                         
       
            .dish-2{
                @include Dishcard;
                animation-delay: 1s;
                @include dish-hover;  

                .dish__item{
                    @include Dish;
                                                         
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                  
                    .dish__plus{                    
                      font-size:0.9em;                       
                    }
                } 
                .value{
                    @include value;
    
                    .starter__price{
                        @include price(-5px);
                        @include Medium-screen{
                          top: -5px;
                          left:-20px;  
                        }
                        @include Large-screen{
                          left:-10px;
                        }
                    }
                        
                    .checkbox{
                      @include checkbox;
                            
                        .checkicon{
                          @include checkIcon;
                        } 
                    }         
                }    
            }    
       
            .dish-3{
              @include Dishcard;
              animation-delay: 2s;
              @include dish-hover;                      
                      
                .dish__item{
                  @include Dish;
                                                             
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                      
                    .dish__plus{
                      font-size:0.9em; 
                    }  
                }          
                .value{
                  @include value;
        
                    .starter__price{
                      @include price(-5px);
                      @include Medium-screen{
                        top: -5px;
                        left: -20px;
                      } 
                      @include Large-screen{
                        left:-10px;
                      } 
                    }
                            
                    .checkbox{
                      @include checkbox;
                                
                        .checkicon{
                          @include checkIcon;
                           
                        }         
                    }    
                }
            }    
           
            .dish-4{
              @include Dishcard;
              animation-delay: 3s;
              @include dish-hover;
                           
                .dish__item{
                  @include Dish;
                                                                 
                    h2{
                      @include h2(map-get($fontSize,text))
                    }
                                          
                    .dish__plus{
                      font-size:0.9em; 
                    }
                }             
                .value{
                  @include value;
            
                    .starter__price{
                      @include price(-5px);
                      @include Medium-screen{
                        left: -20px;
                      }
                      @include Large-screen{
                        left:-15px;
                      }
                    }

                    .checkbox{                                 
                      @include checkbox;
                                    
                        .checkicon{
                          @include checkIcon;
                        } 
                    }         
                }    
            }
        } 

        .main__container{
            @include Dishcontainer;
            @include tablet{               
             padding: 20px;          
            }
            @include Medium-screen{
             width:100%;
             padding-left: 0px;
            }
            @include Large-screen{
                width:30%;
            }  

            .dish-1{
              @include Dishcard;
              @include dish-hover;           
                
                .dish__item{
                 @include Dish;
                              
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                           
                    .dish__plus{
                      font-size: 0.9em;  
                    }
                   
                } 

                .value{
                @include value;
                    
                    .main__price{
                      @include price (-5px);                                             
                      @include Medium-screen{
                        top:-4px;
                        left: -20px;
                      } 
                      @include Large-screen{
                        left:-10px;
                      }                                             
                    }
                      
                    .checkbox{
                      @include checkbox;
                        
                      .checkicon{
                        @include checkIcon;
                      } 
                    }         
                }    
            }                                          
       
            .dish-2{
              @include Dishcard;
              animation-delay: 1s;
              @include dish-hover;                    
                  
                .dish__item{
                  @include Dish;
                                                         
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                  
                    .dish__plus{
                      font-size:0.9em;  
                    }  
                }

                    .value{
                      @include value;    
                                                
                        .main__price{
                          @include price (-5px);                            
                          @include Medium-screen{
                            top: -4px;
                            left:-20px;
                          }
                          @include Large-screen{
                            left:-10px;
                          }
                        }
                       
                        .checkbox{
                          @include checkbox;
                            
                           .checkicon{
                             @include checkIcon;
                           } 
                        }         
                }    
                
            }

            .dish-3{
              @include Dishcard;
              animation-delay: 2s;
              @include dish-hover;
                       
                .dish__item{
                  @include Dish;
                                                             
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                      
                    .dish__plus{
                      font-size:0.9em; 
                    }
                }          
                
                .value{                     
                  @include value;
        
                    .main__price{
                      @include price (-5px);                                          
                      @include Medium-screen{
                        top:-4px;
                        left:-20px;
                      }
                      @include Large-screen{
                        left:-10px;
                      }
                    }
                            
                    .checkbox{
                      @include checkbox;
                                
                        .checkicon{
                          @include checkIcon;
                        } 
                    }
                }             
            }                                
        }

        .dessert__container{
          @include Dishcontainer;
          @include tablet{
            padding: 20px;          
          }
          @include Medium-screen{
            width:100%;
            padding-left: 0px;
          }
          @include Large-screen{
            width:30%;
          }

            .dish-1{
              @include Dishcard;
              @include dish-hover;        
                
                .dish__item{
                  @include Dish;
                                                     
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                              
                    .dish__plus{
                      font-size:0.9em; 
                    }
                }

                .value{
                  @include value;

                    .dessert__price{
                      @include price (-5px);
                      @include Medium-screen{
                        left:-15px;
                        margin: 15px; 
                      }
                      @include Large-screen{
                        left:-10px;
                      }
                    }

                    .checkbox{
                      @include checkbox;
                        
                      .checkicon{
                        @include checkIcon;
                      } 
                    }         
                }    
            }                                          
       
            .dish-2{
              @include Dishcard;
              animation-delay: 1s;
              @include dish-hover;
                      
                .dish__item{
                  @include Dish;
                                                         
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                  
                    .dish__plus{
                      font-size:0.9em; 
                    }
                }

                .value{
                  @include value;
                            
                    .dessert__price{
                      @include price (-5px);
                      @include Medium-screen{
                        left:-15px;
                        margin:15px;
                      }
                      @include Large-screen{
                        left:-10px;
                        }
                    }
                    .checkbox{
                        @include checkbox;
                            
                          .checkicon{
                            @include checkIcon;
                          } 
                    }         
                }    
            }    
       
            .dish-3{
              @include Dishcard;
              animation-delay: 2s;
              @include dish-hover;
                            
                .dish__item{
                  @include Dish;
                                                             
                    h2{
                     @include h2(map-get($fontSize,text))
                    }
                                      
                    .dish__plus{
                      font-size:0.9em; 
                    }
                }

                .value{
                  @include value;
                            
                    .dessert__price{
                      @include price (-12px);
                      @include tablet{
                        left:-5px;
                      }
                      @include Medium-screen{
                        left:-15px;
                        margin: 15px;
                      }
                      @include Large-screen{
                        left:-10px;
                      }
                    }
                    .checkbox{
                      @include checkbox;
                                
                        .checkicon{
                          @include checkIcon;
                        } 
                    }         
                }    
            } 
        }
}
                    
                              
                       
              

       

               
           

