.function__bloc{
    @include flexColumn;
    margin:30px 25px;
    @include Medium-screen{
      flex-wrap: wrap;
    }
  .title{
     padding-left: 0px;
     padding-right: 0px;
 }
    
       .guide__step{
      @include Guide($backgroundcolor-primary);
      @include Large-screen{
        width:30%;
        margin:0px 15px;
      }
      }
 
      .guide__step--colored{
        @include Guide(rgb(245 237 255));
        @include Large-screen{
        width: 30%;
        margin:0px;
        }
      }
            .guide__step--colored,fas{
            color:rgb(147,86,220)
            }
      
  }    
      .guide__step--number{
        position: relative;
        right:15px;
        background-color:rgb(147,86,220);
        color:$textnumber-color;
        border-radius: 80%;
        padding: 3px 9px;
      }
      .function__text{
      font-size:map-get($fontSize,text1);
      font-weight: 600;
      color:black;
      }
   
            
         



