  .rst__area{
    @include flexColumn;
    background-color: $backgroundcolor-primary;
    padding:40px 0px;
    width: 100%;
    
        
      .rst__title{
      padding: 10px 25px;
      font-size: map-get($fontSize, heading);     
      }

      .rst__container{
      @include flexColumn;
      padding: 10px 20px;
      width: auto;
      gap:20px;
      @include tablet{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include Medium-screen{
        justify-content: center;
        width: 95%;
      }
      @include Large-screen{
        flex-direction: row;
        justify-content: space-evenly;
      }    
              .rst__card{
              position: relative;
              border-radius: $borderRadius;
               @include boxShadow;
              background-color: $backgroundcolor-secondary;
               @include tablet{
                width: 48%;
               }
               @include Large-screen{
                 display:flex;
                 flex-direction: column;
                 width: 23%;
               }
                 
               .pic{
                  display: flex;
                  width: 100%;
                  }
                  .pic img{
                  display: flex;
                  object-fit: cover;
                  border-radius: 15px 15px 0 0;
                  width: 100%;
                  height: 160px;
                  }
                  
                  .details{
                  @include flexRowCenter;
                  justify-content: space-between;  
                  padding: 10px 15px; 
                  width :unset;
                    .legend{
                    @include flexColumn;
                    }
                    &,h2{
                      @include h2(map-get($fontSize,title))
                    }
                    }
                    @include heart;  
                  }
              }                        
                        
      }
      
 
        
                     
      .new{
        background-color:$color-tertiary;
        color:$textnew-color;
        position: absolute;
        top: 0.7em;
        right: map-get($fontSize, text);
        padding: $coloredbloc-padding;
        font-size: 0.9em;
        font-weight: 500;
        border-radius: 2px; 
    }
    
     
