@mixin boxShadow{
    box-shadow:  3px 3px 10px #bfbfbf;
}

@mixin flexColumn{
    display:flex;
    flex-direction: column;
}

@mixin flexRowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
}



@mixin tablet{
    @media screen and(min-width:map-get($breakpoints,tablet))
        {@content;
    }      
}   
@mixin Medium-screen{
    @media screen and(min-width:map-get($breakpoints,medium-screen)) 
      {@content;
    }  
}
@mixin Large-screen{
    @media screen and(min-width:map-get($breakpoints,large-screen))
     { @content;   
    }
}
    
